

.clock {
   visibility: hidden;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   width: 380px;
   height: 380px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2000;
   background-image: url("/assets/img/clock.png"),
   url("/assets/img/js.png"),
   radial-gradient(circle,rgb(37,73,90) 0%,
       rgb(25,48,60) 11%,rgba(9,25,33,1) 38%);
   background-size: cover;
   box-shadow: 0px -15px 15px rgba(134,134,134,0.35),
   inset 0 -15px 25px #191919,
   0 15px 15px rgba(134,134,134,0.35),
   inset 0 15px 15px #191919;
   border-radius: 50%;
 }
 
 .clock:before {
   content:'';
   position: absolute;
   width: 15px;
   height: 15px;
   background: white;
   border-radius: 50%;
   z-index: 999;
 }
 
 .clock .hour,.min,.sec {
   position: absolute;
 }
 
 .clock .hour, .hr {
   width: 160px;
   height: 160px;
 }
 
 .clock .min, .mn {
   width: 190px;
   height: 190px;
 }
 
 .clock .sec, .sc {
   width: 230px;
   height: 230px;
 }
 
 .hr,.mn,.sc {
   display: flex;
   justify-content: center;
   border-radius: 50%;
   position: absolute;
 }
 
 .hr:before {
   border-radius: 6px;
   content:'';
   position: absolute;
   width: 8px;
   height: 80px;
   background: darkorange;
   z-index: 10;
 }
 
 .mn:before {
   border-radius: 6px;
   content:'';
   position: absolute;
   width: 8px;
   height: 90px;
   background: white;
   z-index: 11;
 }
 
 .sc:before {
   border-radius: 6px;
   content:'';
   position: absolute;
   width: 2px;
   height: 150px;
   background: red;
   z-index: 12;
 }
 