

<div class="calc">
   <div class="calc__wrapper">
 
     <div class="calc__input">0</div>
 
     <div class="calc__buttons-box">
 
       <div class="calc__button">7</div>
       <div class="calc__button">8</div>
       <div class="calc__button">9</div>
       <div class="calc__button">/</div>
       <div class="calc__button">4</div>
       <div class="calc__button">5</div>
       <div class="calc__button">6</div>
       <div class="calc__button">*</div>
       <div class="calc__button">1</div>
       <div class="calc__button">2</div>
       <div class="calc__button">3</div>
       <div class="calc__button">-</div>
       <div class="calc__button">0</div>
       <div class="calc__button">.</div>
       <div class="calc__button equal">=</div>
       <div class="calc__button">+</div>
 
       <div class="calc__clear-box">
         <div class="calc__button-del" ><i class="fas fa-arrow-left"></i></div>
         <div class="calc__button-clear">clear</div>
 
       </div>
 
 
     </div>
 
   </div>
 
 </div>
 
 
