<div class="app-container">
   <canvas id="canvas"></canvas>
 
   <app-clock></app-clock>
   <app-calculator></app-calculator>
 
 
   <div class="menu-box">
     <div class="settings">
       <img src="https://play-lh.googleusercontent.com/pP9v-M7D7BVLaFQHpiIu7u7AYzSBmv-NDF0nt-70shB83wW2MZtzvJdsIwbQf3YmkEA" alt="">
     </div>
 
     <div class="menu">
       <div class="menu-item clock1">
         <img src="https://img2.freepng.ru/20180221/kvq/kisspng-big-ben-clock-face-digital-clock-clip-art-watch-5a8d924a729cc0.4711550615192274664695.jpg" alt="">
       </div>
       <div class="menu-item calculator">
         <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2/128/calculator-circle-green-512.png" alt="">
       </div>
     </div>
 
   </div>
 
 
 </div>
