
.app-container{

   overflow: hidden;
   background: #000;
   height: 100vh;
   width: 100%;
   box-sizing: border-box;
 }
 
 .menu-box{
   opacity: 0.3;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 56px;
   width: 54px;
   position: absolute;
   right: 50px;
   top: 50px;
   overflow: hidden;
   transition: all 0.5s ease;
   border-radius: 10px 10px 0 0;
 
   &:hover{
     transition: all 0.5s ease;
     background: rgba(255,255,255,.1);
     height: 180px;
     opacity: 1;
   }
 
 
   img{
     width: 100%;
     height: 100%;
 
   }
 }
 
 .menu-item {
   margin: 10px 0 10px 0;
   width: 25px;
   img{
     border-radius: 50%;
     width: 100%;
     height: 100%;
   }
 }
 
 
 #canvas{
   width: 100%;
   height: 100%;
 }
 